a{
    color: #4c4;
    cursor: pointer;
    text-decoration: underline;
}
a:hover{
    color: #777;
}
body{
    background: #000;
    color: #aaa;
}
.column{
    display: inline-block;
    padding-right: 20px;
}
